<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chan's DevOps Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>🚀 Chan's DevOps Dashboard</h1>

    <hr>

    <h2>Status</h2>
    <p>🟢 Online</p>

    <h2>Hostname</h2>
    <p>{{ hostname }}</p>

    <h2>Current Time</h2>
    <p>{{ current_time }}</p>

    <h2>Operating System</h2>
    <p>{{ operating_system }}</p>

    <h2>Python Version</h2>
    <p>{{ python_version }}</p>

</body>

</html>